{% extends 'venda/principal.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block content %}

    <div class="row d-flex justify-content-center g-1">
       {% for livro in livros %}
        <div class="col-md-4">
            <div class="product text-center"> <img src="{{ livro.URLimagem }}" width="250">
                <div class="about text-left px-3">
                    <br>
                    <h4>{{ livro.nome }}</h4> <span class="text-muted">Finanças</span>
                    <h3>R${{ livro.preco|floatformat:2}}</h3>
                    <button  class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
                    <a class="btn btn-outline-success" href="#">Visualizar</a>
                </div> <span class="dot"><span class="inner-dot"><i class="fa fa-plus"></i></span></span>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

<img src="{% static 'images/carrinhocompras.jpg' %}">